VITE_API_BASE_URL=https://asia-northeast1-inventry-manager-app.cloudfunctions.net
VITE_FIREBASE_API_KEY="あなたの_API_KEY"
VITE_FIREBASE_AUTH_DOMAIN="あなたの_AUTH_DOMAIN"
VITE_FIREBASE_PROJECT_ID="あなたの_PROJECT_ID"
VITE_FIREBASE_STORAGE_BUCKET="あなたの_STORAGE_BUCKET"
VITE_FIREBASE_MESSAGING_SENDER_ID="あなたの_MESSAGING_SENDER_ID"
VITE_FIREBASE_APP_ID="あなたの_APP_ID"
VITE_FIREBASE_MEASUREMENT_ID="あなたの_MEASUREMENT_ID"